<div class="modal-overlay">
    <div class="modal">
        <div class="modal-header">
            <h2>Add product</h2>
        </div>
        <div class="modal-content">
            <form>
                <label for="title">Title</label>
                <input [(ngModel)]="title" name="title">
                <label for="price">Price</label>
                <input [(ngModel)]="price" name="price">
                <label for="type">Type</label>
                <select name="type" [(ngModel)]="type">
                    <option value="makeup">makeup</option>
                    <option value="digital">digital</option>
                    <option value="kitchen">kitchen</option>
                </select>
            </form>
        </div>
        <div>
            <button class="save-btn" (click)="submit()">Save</button>
            <button class="close-btn" (click)="close()">Cancel</button>
        </div>
    </div>

</div>